
$body-background-color: $grey-lt-000;
$sidebar-color: $grey-lt-000;
$border-color: $grey-dk-200;

$body-text-color: $grey-dk-300;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-lt-200;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;

body {
    --body-background-color:        #{$body-background-color};
    --sidebar-color:                #{$sidebar-color};
    --border-color:                 #{$border-color}                  ;
    --body-text-color:              #{$body-text-color            }   ;
    --body-heading-color:           #{$body-heading-color         }   ;
    --nav-child-link-color:         #{$nav-child-link-color       }   ;
    --search-result-preview-color:  #{$search-result-preview-color}   ;
    --link-color:                   #{$link-color                 }   ;
    --btn-primary-color:            #{$btn-primary-color          }   ;
    --base-button-color:            #{$base-button-color          }   ;                  
    --code-background-color:        #{$code-background-color      }   ;
    --search-background-color:      #{$search-background-color    }   ;
    --table-background-color:       #{$table-background-color     }   ;
    transition: all 0.5s ease-in-out;
}
